question-1:
ans: 1) '*' is a mathematical operator.So it comes under expression.
     2) 'hello' is a string.So it is a value
     3) '-87.8' is a floating point number.It is a value.
     4) '-' is a mathematical operator.So it is a expression.
     5) '/' is a mathematical operator.So it is a expression.
     6) '+' is a mathematical operator.So it is a expression.
     7) '6' is a integer,so it is a value.

question-2:
ans: Variable is used to identify or to store the values which is created or modified in a memory, there are some types of variables like string,integer,list,set,tuple,dictionary etc.,
     String is one of the variable used to assign anything by using single qoute (' ') or double qoutes (" ").
     ex : a = 'my name is yash'

question-3:
ans: 1) String:
          String is one of the variable used to assign characters by using single qoute (' ') or double qoutes (" ").It is a immuttable.But we can perform only characters we can't use the integers in a string which means we can put integers but can't do any operations.we can see by ex:3.1.
     2) List:
          List is a immutable variable ,we can update in the variable whereas in string it is not able to update. In this we can identify or by using square brackets [].In this we can assign characters as well as integers and many. We can make string into a list but we cannot make a list into a string. Example:3.2.
     3) Set:
          Set is a collection of a list making as a unique elements by removing the duplicate elements.we can define it by identifying or by using flower brackets'{}'.Example:3.3.

In [5]:
a = 'my name is yash'
# example 3.1

In [6]:
a
# example 3.1

'my name is yash'

In [7]:
type(a)
# example 3.1

str

In [8]:
b = ['yash',12334,3+4j,True]
# example 3.2

In [9]:
b
# example 3.2

['yash', 12334, (3+4j), True]

In [10]:
type(b)
# example 3.2

list

In [11]:
c = {1,2,3,3,3,3,4,5,5,5,66,7,8,9,9,9,4,4,5,6,1,2,3,5,45}
# example 3.3

In [12]:
c
# example 3.3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 66}

In [13]:
type(c)
# example 3.3

set

question-4 :
ans : Expressions are representation of the values.It gives definition of the code for which operation it has to done on the combination of values and variables.Some of the expression operators which are mostly used are :
    1) Addition(+) : to add the values or variables.
    2) Subtraction(-) : to subtract the values or variable.
    3) Division(/) : to divide the values or variable.
    4) Multiplication(*) : to multiply the values or variable.
    5) Relation expressions : <,=<,>=,>.
    6) Parenthesis : (),{},[].

In [ ]:
#Question-5 : 
ans : spam = 10
    # The above one is known as Expression ,combination of values,variables and operators makes the expression.While for the statement we can say the instructions which are given to a interpreter to execute code known as statement.

In [10]:
# Question-7.ans :
x = 'spam'+'spamspam'
y = 'spam'*3
print(x)
print(y)

spamspamspam
spamspamspam

In [11]:
# Question-8.ans:
#Python variable has certain conditions which the variables should be alphabets(either upper and lower case),digits,underscore symbol.Variables should not start with digits.
# That's why eggs is valid variable and 100 is invalid variable.

In [12]:
# Question-9.ans:
int()
float()
str()
# these can be used a functions.

''

In [15]:
# Question-10.ans:
# For the given expression : 'i have eaten'+99+'buritos' gives error due to 99 is an integer and strings can only concatenated with the other string while using the addition operator.Inorder to fix it , we have to change the 99 as a string by two methods:
x = 'i have eaten'+ ' 99 ' +'buritos'
y = 'i have eaten '+ str(99) + ' buritos'
print(x)
print(y)

i have eaten 99 buritos
i have eaten 99 buritos

In [16]:
# Question-6.ans:
bacon = 22
bacon + 1

23

In [17]:
bacon
# it shows the same old value ,it doesn't shows new executed code output while assign the bacon.

22